body {
    background-color: blue;
}

header {
    display: flex;
    justify-content:space-evenly;
    background-color: lightgoldenrodyellow;

}



h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8em;
    text-align: left;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid hotpink;
    border-radius: 5px;
    background-color: lightpink;
    font-size: 2em;
    padding: 10px;
    margin: 3px 0px;
}